.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 65%
    width: 24%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    width: 22%
    right: 43%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 500px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.boton *, .boton--sm * 
  color: #fff !important
.barra-avance__boton--regresar span 
  color: #fff !important

.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #375E02
.izq
  margin-left: -1rem
.bg01
  background-color: #EAEEE5
.bg02
  background-color: #FDF3D2
.bg03
  background-color: #EAEEE5

.acordion__accion__btn--a
  background-color: #375E02 !important
  border-color: #375E02 !important
.fa-angle-down 
  --fa: "\f107"
  color: #fff !important
.fa-angle-up 
  --fa: "\f106"
  color: #fff !important
.fa-minus, .fa-subtract 
  --fa: "\f068"
  color: #fff !important
.fa-add, .fa-plus 
  --fa: "\2b"
  color: #fff !important
.acordion .tarjeta--azul
  background-color:  #C1B09C !important 
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E0D7CD !important

.titulo-segundo:after 
  border-left-color: #375E02
  background-color: #C0E886

