.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 65%
    width: 24%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    width: 22%
    right: 43%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 500px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.boton *, .boton--sm * 
  color: #fff !important
.barra-avance__boton--regresar span 
  color: #fff !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px

.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #375E02
.izq
  margin-left: -1rem
.text-izq
  text-align: left !important
.bg01
  background-color: #EAEEE5
.bg02
  background-color: #FDF3D2
.bg03
  background-color: #EAEEE5
.bg04
  background-color: #FFF6EA
.bg004
  background-color: #FFF6EA
  border-radius: 20px
.bg05
  background-color: #EAEEE5
  border-radius: 20px
.bg06
  background-color: #F3F9FF
  border-radius: 20px
.bg07
  background-color: #FDF3D2
  border-radius: 20px
.bg08
  background-color: #E0D7CD
  border-radius: 20px
.bg09
  background-color: #375E02
.bg10
  background-color: #653B09 !important
.bg_gris
  background-color: #F6F6F6
.bg11
  background-color: #C0E886
  border-radius: 20px
.bg12
  background-color: #C1B09C
.bg13
  background-color: #FBE28E
.cajon.color-acento-botones 
  background-color: #E0D7CD

.tarjeta--boton 
  background-color: #EAEEE5
  display: flex
  flex-direction: column
  height: 100%
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
  background-color: #FEF9E8
  li, h5, i
    color: #12263F !important




.fa-angle-right2
  content: url('../assets/curso/Tema5/hoja.svg')
 
.tabla-a th 
  border-color: #EAEEE5
  background-color:  #EAEEE5
.img1
  width: 50%
.contenedor-img
  display: flex
  justify-content: center
.acordion__accion__btn--a
  background-color: #375E02 !important
  border-color: #375E02 !important
.fa-angle-down 
  --fa: "\f107"
.fa-angle-up 
  --fa: "\f106"
.fa-minus, .fa-subtract 
  --fa: "\f068"
  color: #fff !important
.fa-add, .fa-plus 
  --fa: "\2b"
  color: #fff !important
.acordion .tarjeta--azul
  background-color:  #C1B09C !important 
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E0D7CD !important
.acordion .tarjeta--azull
  background-color:  #653B09 !important
  p, h3,
    color: white
.acordion__accion__btn--b 
  border: 1px solid #FEE1B9
  background-color: #FEE1B9

.acordion .tarjeta.tarjeta--azull.acordion__activo
  background-color: #375E02 !important
.lista-ul--color li > i:first-of-type 
  color: #12263F
.titulo-segundo:after 
  border-left-color: #375E02
  background-color: #C0E886

.tarjeta.color-acento-botones--borde
  background-color: #E0D7CD
  border: #E0D7CD
.tabs-a__tab 
   background-color: #FEF9E8 !important
.tabs-a__tab   
  display: block
  width: 100%
  text-align: left
  padding: 15px 20px
  border-radius: 5px
  line-height: 1.2em
  &__text
    overflow: hidden
    text-overflow: ellipsis 
    white-space: normal 
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #375E02 !important
  color: #fff

.fondo01
  background-image: url('../assets/curso/Tema2/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.bgslyder
  background-image: url('../assets/curso/Tema1/img10.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.bgblanco
  background-color: white

.tabs-c.color-primario .tabs-c__tab--active 
  background-color: white
  color: black !important
  font-weight: 900
.tabs-c__tab 
  background-color: #C0E886
  border-bottom: 6px solid #C1B09C
.tabs-c.color-acento-botones .tabs-c__tab--active 
  border-bottom-color: #FCC100 !important
  background-color: #ffffff
.tabs-c.color-acento-botones .tabs-c__tab--active:before 
  border-top-color: #FCC100
.tabs-c__tab--active 
  border-bottom: 6px solid !important
.tabs-c__header 
  margin-bottom: -7px
.tabs-c__tab:after 
  width: 2.5px
  height: 25px
  top: 50%
  right: -2px
  background-color: #E0E0E0



